# Cyclotron Geometry Configuration

particle_species: "muon"  # 'muon'
max_machine_size_mm: 700.0
seed: 42

# Symmetry and angles
geometry:
  yoke_build_angle_deg: 45.0
  angular_resolution: 15  # Number of segments to approximate arcs
  use_gmsh_occ: true
  save_stp_files: false

# Field evaluation
field_evaluation:
  num_points_circle: 360
  radius_min_mm: 75.0
  radius_max_mm: 350.0
  n_eval_pts: 12
  use_symmetry: true  # Exploit 8-fold symmetry

# Geometry Parameters
yoke:
  outer_radius_mm: 700.0
  inner_radius_mm: 596.5
  height_mm: 188.5
  segmentation: [2, 1, 3]  # [r, theta, z] divisions
  window_width_mm: 300.0
#  stp_filename: "D:\\MIT Dropbox\\Daniel Winklehner\\Projects\\Muon Reacceleration\\CAD\\uCyclo_v2\\uCyclo_v2_YokeWall.stp"

lid_lower:
  outer_radius_mm: 700.0
  inner_radius_mm: 400.0
  height_mm: 96.5
  segmentation: [4, 1, 3]  # [x, y, z] divisions
#  stp_filename: "D:\\MIT Dropbox\\Daniel Winklehner\\Projects\\Muon Reacceleration\\CAD\\uCyclo_v2\\uCyclo_v2_LidLower.stp"

lid_upper:
  outer_radius_mm_1: 700.0
  outer_radius_mm_2: 627.0
  inner_radius_mm: 75.0
  height_mm: 80.0
  segmentation: [8, 1, 3]  # [r, theta, z] divisions (cylindrical)
  hole_diameter_mm: 120.0
  hole_center_xy: [198.0, 198.0]
  cut_out_rf_stem_hole: false
  stp_filename: "D:\\MIT Dropbox\\Daniel Winklehner\\Projects\\Muon Reacceleration\\CAD\\uCyclo_v2\\uCyclo_v2_LidUpper.stp"

# --- Pole --- #
# Base
pole:
  outer_radius_mm: 400.0
  inner_radius_mm: 50.0
  height_mm: 230.0  # 235 originally, but top shim is min 5 mm
  full_angle_deg: 20.0  # 25 originally, but side shim is min 5 deg
  angular_resolution_deg: 2.5  # Angular segment length for arc approximation (deg)
  segmentation: [10, 1, 15]  # Number of [r, theta, z] segments (cylindrical)
#  stp_filename: "D:\\MIT Dropbox\\Daniel Winklehner\\Projects\\Muon Reacceleration\\CAD\\uCyclo_v2\\uCyclo_v2_ShimmedPole.stp"

# Shimming
side_shim:
  include: true
  num_rad_segments: 14  # number of radial segments along the pole edge
  angular_resolution_deg: 2.5  # Angular segment length for arc approximation (deg)
  default_offset_deg: 5.0  # deg
#  side_offsets_deg: [5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0]
  side_offsets_deg: [5.508060939922671, 5.268477357516903, 5.436617667869364, 7.5841071276073055, 8.066780216206357, 8.718783547230036, 7.380032674047312, 5.523226584838598, 5.0, 5.432610851746398, 5.830951485545202, 6.643234287427298, 6.668676693680339, 7.721763013636222, 11.102593035254122]
  segmentation: [3, 1, 20]  # Number of [r, theta, z] segments (cylindrical)

top_shim:
  include: true
  num_rad_segments: 14  # number of radial segments along the pole edge (keep same as side for now!)
  angular_resolution_deg: 1.25 # Angular segment length for arc approximation (deg)
  default_offset_mm: 5.0  # mm
#  top_offsets_mm: [5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0]
  top_offsets_mm: [5.0,5.0,5.873,6.809,7.711,10.969,11.965,16.039,17.790,18.739,18.884,20.0,20.0,20.0,20.0]
  segmentation: [3, 1, 1]  # Number of [r, theta, z] subdivisions (note that arc approximation already segments in theta)
# --- #

coil:
  radius_min_mm: 460.0
  radius_max_mm: 574.5
  height_mm: 123.5
  midplane_dist: 55
  current_A: 15368  # Amp-turns
  num_segments: 25

material:
  saturation_field_t: [20000, 2]
  saturation_curve_m: [0.1, 2]
  linear_curve_m: [0.1, 2]
  bh_filename: "dillinger_steel.csv"

# Simulation
simulation:
  precision: 0.0001
  iterations: 10000

# Optimization
optimization:
  target_frequency_mhz: 42
  frequency_tolerance_mhz: 0.001
  max_iterations: 100
  coil_current_min_A: 10000
  coil_current_max_A: 30000
  side_shim_min_deg: 5
  side_shim_max_deg: 15
  top_shim_min_mm: 5
  top_shim_max_mm: 20
  num_workers: 1   # Unused
  n_initial_points: 1  # Initial random sample in Bayesian, or number of multistarts in Nelder-Mead
  reference_coil_current: 15368
  regularization_weight: 0.0  # Penalty for jagged shim shapes
  random_init: false
  opt_top: false
  opt_side: true
  opt_coil: true
  # Optimizer choice
  # nelder-mead, more to come?
  optimizer: 'nelder-mead'

# Visualization
visualization:
  show_opengl: true
  comsol_filename: "D:\\MIT Dropbox\\Daniel Winklehner\\Projects\\Muon Reacceleration\\uCyclo_v2_Midplane_Res0.5mm_400x400mm.txt"
